header(class='header clearfix')
    nav
        ul.nav.nav-pills.float-right
            li.nav-item
                a(class='nav-link active',href='/') Home
                    span(class='sr-only') (current)
            if !user
                li.nav-item
                    a(class='nav-link',href='/users/register') Register
                li.nav-item
                    a(class='nav-link',href='/users/login') Login
            if user
                li.nav-item
                    a(class='nav-link',href='/users/logout') Logout
        h1(class='text-muted') Blue Shark

        form(class='form-inline my-2 my-lg-0')
            input(class='form-control mr-sm-2', type='text' ,placeholder='Search', aria-label='Search')
            button(class='btn btn-outline-success my-2 my-sm-0',type='submit') Search